
body{
    margin: 0px;
    padding: 0px;
    background:#F3F5FC;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
   
    font-family: 'Inter';
    font-weight: 400; 
    font-size: 20px;
    line-height: 150%; 

}
.logo{
   
    width: 10%;
    height: 10%;
    display: inline-block;
}
.img-logo{
    padding-top: 5px;
   
}

.principal{
    height: 80%;
}
.izquierda{
    float: left;
    width: 70%;
    height: 90%;

    border-radius: 32px;
}

.text-area{
    font-size: 20px;
    border: none;
    color: #0A3871;
    background:#F3F5FC;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    text-transform: lowercase; /*transform el texto en minuscula el lowercase*/

}
::placeholder{ color: #0A3871;}
.text-area:focus{
    outline:none;
}
.botones{
    display: flex;
    width: 100%;
    height: 30%;
   
    font-size: 20px;
   
}
.btn-desencriptar{
    background:#D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    padding: 20px;
    margin-left: 10%;
    margin-top:10px;
    margin-right: 5%;
    width: 40%;
    height: 40%;
    
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 10px;
    padding: 20px;
    width: 40%;
    height: 40%;
  
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

/*cominezo parte derecha*/

.derecha{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }
    
#imgDerecha{
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: auto;

}
#texto{
    margin-left: 7%;
    margin-right: 5%;
    padding-bottom: 5%;
    text-align: center;
   
}
.mensaje{
    float: left;
    background: #FFFFFF;
    border: none;
    color: #0A3871;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    font-size: 15px;
}
.mensaje:focus{
    outline: none;
}

.btn-copiar{
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    width: 60%;
    height: 10%;
    background:#D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);

}

.informacion{
    color: #495057;
    font-size: 12px;
    margin-left: 10%
}

footer{
 color: #F3F5FC;
    text-align: center;
    height: 10%;
    width: 100%;
    font-size: 14px;
    padding:20px;
    background: #0A3871;
}

@media screen and (max-width:480px){
    .container{
        height: auto;
        width: auto;

    }
    .botones{
        font-size: auto;
        width: 50;

    }
    .izquierda{
        margin-bottom: 5%;
    }
     .izquierda, .derecha{
        float: inherit;
        width: 100%;
        height: auto;
        margin-left: 5%;
     
    }
    .text-area, .informacion, .mensaje{
        width: 80%;
        margin-left: 2%;
    }
   
    #imgDerecha{
        display: none;
    }
}